/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50vh;
}

.homebutton {
    width: 60%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

.homepagelogo {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #bbeff7;
}

.form-submit {
    width: 50%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
