body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a {
    color: #128193;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50vh;
}

.homebutton {
    width: 60%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

.homepagelogo {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #bbeff7;
}

.form-submit {
    min-width: 20%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.new-game-btn {
    height: 45px;
    font-size: 20px;
    font-weight: bold;
}

.inner {
    display: inline-block;
}

.dropdown {
    border-color: #bbeff7;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-image {
    height: 35px !important;
}

.img-preview {
    height: 220px;
    width: 150px;
}

.character-img {
    height: 450px;
    width: 300px;
}