@{
    ViewData["Title"] = "Sign In";
}

<h1>Sign In</h1>

<form action="/User/SignIn" method="post">
    <input type="text" name="username" required="" autofocus="" placeholder="Username" />
    <input type="password" name="password" required="" placeholder="Password" />
    <input type="submit" />
</form>

@ViewBag.Message