@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}

<form action="../../Battle/End" method="post">
    <input type="hidden" name="gameid" value="@ViewBag.GameID" />
    <input type="submit" value="End Battle" />
</form>