@{
}

<h1>New Playable Character Form</h1>
<form action="Create" method="post">
    <input type="text" name="name" required="" autofocus="" placeholder="Character name" />
    <br />
    <br />  
    <select name="species_id">
        @foreach (var species in ViewBag.Species)
        {
            <option value="@species.id" >@species.species_type</option>
        }
    </select>
    <br />
    <br />
    <input type="hidden" name="gamesusersid" value="@ViewBag.GamesUsersID" />
    <input type="submit" value="Generate Character" />
</form>